$category-color: #EA5252;
$category-color-50: #ea52528a;

$background: #fff;
$text-color: #000;
$price-text--color: #CE7777;
$background-sale: #d40000;
$background-red: rgb(255 35 35);
$sale-text-color: #ffffff;
$border-color: #00000033;
$orange--color:#FF9D23;
$green--color:#5B7E3C;